<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>To Do List</h1>
            <p>Ecco le cose che devi fare oggi:</p>
            <ul>
                <li v-for="todo in todoArray"><span :class="todo.done ? `done`:``"  >{{ todo.text }}</span></li>
            </ul>
            <p>Devi aggiungere altro alla lista?</p>
            <div class="add-todo flex">
                <input type="text" placeholder="Aggiugni un nuovo todo" v-model="newTodo">
                <button @click="addTodo">Aggiungi!</button>
            </div>

        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>